body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: dodgerblue;
}

a:visited {
    text-decoration: none;
    color: darkslateblue;
}

#body pre {
    font-family: monospace;
    margin-left: .5em;
    border-left: 3px solid black;
    padding-left: .5em;
}

#search {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 1em;
  background-color: white;
  border-bottom: 1px solid black;
}